* {
  box-sizing: border-box;
}

body {
  padding: 10px;
  margin: 0 auto;
  max-width: 600px;
  font-family: 'Roboto', sans-serif;
}

textarea {
  width: 100%;
  height: 175px;
  font-size: 16px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

input[type="submit"] {
  padding: 5px;
  margin-top: 5px;
}

input[type="text"] {
  padding: 5px;
}

.error {
  color: red;
}

footer {
  font-size: 0.9rem;
  margin-top: 40px;
  font-style: italic;
}

footer a {
  text-decoration: underline;
}
