<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
  </head>
  <body>
    <h1>Feedback</h1>
    {% block content %}{% endblock %}
    <footer>
      This application is <a href="https://www.gnu.org/philosophy/free-sw.en.html" target="_blank">Free Software</a>, and you can view the <a href="https://github.com/liberationphilly/feedback" target="_blank">source code</a>.
    </footer>
  </body>
</html>
