{% extends "_base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
  <p>Enter the secret key to continue.</p>
  <form action="/view" method="GET">
    {% if error %}<p class="error">The key you entered is not correct.</p>{% endif %}
    <input type="text" name="key" placeholder="Secret key"></textarea>
    <input type="submit" value="Submit">
  </form>
{% endblock %}
