{% extends "_base.html" %}
{% block title %}Submitted{% endblock %}

{% block content %}
  <p>Your feedback was submitted. Thank you!</p>
  <form action="/" method="get">
    <input type="submit" value="Submit another response">
  </form>
{% endblock %}
